# Simple Aggregation in pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
rng  = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser.sum() 
# ser.mean()

2.811925491708157

In [3]:
# Aggregation on a Dataframe returns results within each column

df = pd.DataFrame({'A': rng.rand(5),
                   'B': rng.rand(5)})
df.mean()

# Aggregating between each rows by specifying axis argument
df.mean(axis='columns')

0    0.088290
1    0.513997
2    0.849309
3    0.406727
4    0.444949
dtype: float64

# Loading in planet Dataset from sea born package

In [4]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape
planets.dropna().describe()
planets.groupby('method')['orbital_period'].median()

# Iteration over groups
for (method,group) in planets.groupby("method"):
    print("{0:30s} shape={1}" . format(method,group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

# GroupBy: Split, Apply, Combine

In [5]:
# using groupby

df = pd.DataFrame({'key1': ['A','B','C','A','B','C'],
                   'key2': ['one', 'two', 'two','three', 'two', 'three'],
                   'data1': np.random.randn(6),
                   'data2': np.random.randn(6)})

# Perfroming the basic split-apply-combine operation using the groupby method

# Using groupby on a specific column data
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

# Applying groupby on every column in a data set
df.groupby(['key1','key2']).mean()

               data1     data2
key1 key2
A    one   -1.144846 -1.389672
     three  0.706842  0.394626
B    two   -0.996359 -1.598027
C    three -0.998385 -1.290746
     two   -0.691918  2.094209

In [6]:
first_50 = planets.head(50)
median_orbital = first_50.groupby('method')['orbital_period']
median_orbital.median()

method
Eclipse Timing Variations    4343.5
Imaging                      6000.0
Radial Velocity               417.9
Name: orbital_period, dtype: float64

In [7]:
planets.groupby(['method'])[['orbital_period']].sum()

                               orbital_period
method
Astrometry                       1.262360e+03
Eclipse Timing Variations        4.276480e+04
Imaging                          1.418973e+06
Microlensing                     2.207500e+04
Orbital Brightness Modulation    2.127920e+00
Pulsar Timing                    3.671511e+04
Pulsation Timing Variations      1.170000e+03
Radial Velocity                  4.553151e+05
Transit                          8.377523e+03
Transit Timing Variations        2.393505e+02

# Iteration over groups

In [8]:
for (method,group) in planets.groupby('method'):
    print(f'{method.ljust(30)} {group.shape}')
    
planets.groupby('method')['orbital_period'].describe()

Astrometry                     (2, 6)
Eclipse Timing Variations      (9, 6)
Imaging                        (38, 6)
Microlensing                   (23, 6)
Orbital Brightness Modulation  (3, 6)
Pulsar Timing                  (5, 6)
Pulsation Timing Variations    (1, 6)
Radial Velocity                (553, 6)
Transit                        (397, 6)
Transit Timing Variations      (4, 6)

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,631.180000,544.217663,246.360000,438.770000,631.180000,823.590000,1016.000000
Eclipse Timing Variations,9.0,4751.644444,2499.130945,1916.250000,2900.000000,4343.500000,5767.000000,10220.000000
Imaging,12.0,118247.737500,213978.177277,4639.150000,8343.900000,27500.000000,94250.000000,730000.000000
Microlensing,7.0,3153.571429,1113.166333,1825.000000,2375.000000,3300.000000,3550.000000,5100.000000
Orbital Brightness Modulation,3.0,0.709307,0.725493,0.240104,0.291496,0.342887,0.943908,1.544929
Pulsar Timing,5.0,7343.021201,16313.265573,0.090706,25.262000,66.541900,98.211400,36525.000000
Pulsation Timing Variations,1.0,1170.000000,NaN,1170.000000,1170.000000,1170.000000,1170.000000,1170.000000
Radial Velocity,553.0,823.354680,1454.926210,0.736540,38.021000,360.200000,982.000000,17337.500000
Transit,397.0,21.102073,46.185893,0.355000,3.160630,5.714932,16.145700,331.600590
Transit Timing Variations,3.0,79.783500,71.599884,22.339500,39.675250,57.011000,108.505500,160.000000

In [9]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': range(2,8)},
                  columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      2
1   B      1      3
2   C      2      4
3   A      3      5
4   B      4      6
5   C      5      7

In [10]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [21]:
def filter_funct(x):
    return x['data2'].std() > 4
    

df.groupby('key').filter(filter_funct)

# Transforming the data by using the transform 
df_mean = df.groupby('key').transform(lambda x : x-x.mean())

L = [0, 1, 0, 1, 2, 0]
display(df,df.groupby(L).sum())

# Specifying split keys with a dictionary or series mapping index to group

df1 = df.set_index('key')
mapping = {'A': 'vowel', 'B': 'consonant', 'C':'consonant'}
df1.groupby(mapping).sum()

# Specifying split keys with python function..
# this passs in the index and output the group

df1.groupby(str.lower).mean()

# Specifying with a lsit of valid keys

df1.groupby([str.lower, mapping]).mean()

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

   data1  data2
0      7     17
1      4      3
2      4      7

             data1  data2
a vowel        1.5    4.0
b consonant    2.5    3.5
c consonant    3.5    6.0

In [38]:
decade = (10*planets['year']//10)
decade = decade.astype('str') + 's'
decade.name = 'decade'
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)

decade,1989s,1992s,1994s,1995s,1996s,1997s,1998s,1999s,2000s,2001s,...,2005s,2006s,2007s,2008s,2009s,2010s,2011s,2012s,2013s,2014s
method,,,,,,,,,,,,,,,,,,,,,
Astrometry,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
Eclipse Timing Variations,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,1.0,4.0,5.0,1.0,0.0,0.0
Imaging,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,4.0,1.0,17.0,3.0,9.0,3.0,2.0,7.0,0.0
Microlensing,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,0.0,6.0,2.0,2.0,1.0,8.0,4.0,0.0
Orbital Brightness Modulation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0
Pulsar Timing,0.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Pulsation Timing Variations,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Radial Velocity,1.0,0.0,0.0,1.0,15.0,1.0,11.0,24.0,27.0,15.0,...,61.0,33.0,47.0,76.0,105.0,92.0,176.0,70.0,65.0,21.0
Transit,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,16.0,17.0,20.0,85.0,162.0,175.0,197.0,93.0
Transit Timing Variations,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,2.0,3.0

In [35]:
planets.columns

Index(['method', 'number', 'orbital_period', 'mass', 'distance', 'year'], dtype='object')