# Practicing with a dataset

In [2]:
import pandas as pd
import numpy as np

In [10]:
# reading the disease outbreak dataset with pandas
data = pd.read_csv('meningitis_dataset.csv')

# Selecting the first set of rows using head( method)
data.head(3)

# Checking the bottom 3 rows
data.to

,id,surname,firstname,middlename,gender,gender_male,gender_female,state,settlement,rural_settlement,...,NmA,NmC,NmW,health_status,alive,dead,report_outcome,unconfirmed,confirmed,null_serotype
284479,288418,Mukthar,Alimat,Ajibewa,Female,0,1,Cross River,Rural,1,...,0,0,1,Dead,0,1,Confirmed,1,0,1
284480,288419,Akenzua,Deborah,Rofeeqat,Female,0,1,Kwara,Urban,0,...,0,0,1,Dead,0,1,Confirmed,1,0,1
284481,288420,Isa,Deborah,Tofunmi,Female,0,1,Katsina,Rural,1,...,0,0,1,Alive,1,0,Confirmed,0,1,1
284482,288421,Uba,Ismail,Akpabio,Male,1,0,Jigawa,Rural,1,...,0,0,1,Dead,0,1,Not Confirmed,1,0,1
284483,288422,Alao,Paulina,Sade,Female,0,1,Kogi,Urban,0,...,0,0,1,Alive,1,0,Confirmed,0,1,1