# Pandas classwork

### 1. Import pandas and check for the version installed

In [1]:
import pandas as pd
pd.__version__

'0.23.0'

### 2. Create pandas from the info given from phones and grade_system

In [2]:
# creating pandas series from a list
phones = ['apple','samsung','tecno','infinix','huawei']
phones_series = pd.Series(phones , index=[1,2,3,4,5], name='phones')
phones

['apple', 'samsung', 'tecno', 'infinix', 'huawei']

In [3]:
# Creating pandas series from a dictionary
grade_system = {'A':'above70', 'B':'60-69', 'C':'50-59', 'D':'45-49', 'E':'40-44', 'F':'below40'}
grade_system_in_series = pd.Series(grade_system)
grade_system_in_series

A    above70
B      60-69
C      50-59
D      45-49
E      40-44
F    below40
dtype: object

### 3. Creating pandas DataFrame info from phones

In [4]:
phones_dataframe = pd.DataFrame(phones, columns=['phones'])
phones_dataframe

    phones
0    apple
1  samsung
2    tecno
3  infinix
4   huawei

### 4. Reading a csv file

In [5]:
# Reading the file from the directory
meningitis_dataset = pd.read_csv('meningitis_dataset.csv')

In [6]:
# Check for the first 10 head of the file
first_10 = meningitis_dataset.head(10)

# Check for thr last 10 tails of the file
last_10 = meningitis_dataset.tail(10)

# Check the description of the file
meningitis_dataset.describe()

# Check if there is any null value
first_10.isnull()

# Selecting 3 colums
first_10[['surname', 'firstname', 'gender']]

     surname  firstname  gender
0     Solade      Grace  Female
1     Eneche       Kure    Male
2     Sanusi     Adaugo  Female
3     Sowore  Mooslemat  Female
4  Abdusalam      Yusuf    Male
5     Yakubu      Janet  Female
6      Razak     Adaugo  Female
7    Annakyi  Danmbazzu    Male
8    Adejoro       Iyin    Male
9     Okorie     Adaugo  Female